body{
  background-color: #FFF;
  color: 000305;
  font-size:87.5%;
  font-family: Arial, sans-serif, helvetica, "Lucida Sans Unicode";
  line-height:1.5;
  text-align: left;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #40FF00 3px solid;
  border-top: #40FF00 3px solid;
}

.titlecolor {
  color: orange;
}
